In [3]:
import requests
from bs4 import BeautifulSoup as bs

In [4]:
url='https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'

In [5]:
html=requests.get(url).text

In [6]:
soup=bs(html,"lxml")

In [7]:
#print(soup.prettify())

In [8]:
soup.title

In [9]:
# # printin all links,title and inner texts
# for link in soup.find_all('a'):
#     print(f"Inner text: {link.text}")
#     print(f"Title: {link.get('title')}")
#     print(f"href: {link.get('href')}")

In [10]:
gdp_table=soup.find('table',{'class':'wikitable'})

In [11]:
#gdp_table

In [12]:
len(gdp_table)

2

In [13]:
# gdp_table_data = 
gdp_table_data=gdp_table.tbody.find_all('tr')

In [14]:
headings=[]
for td in gdp_table_data[0].find_all('td'):
    headings.append(td.b.text.strip())
print(headings)

['Per the International Monetary Fund (2019 estimates)', 'Per the World Bank (2019)', 'Per the United Nations (2018)']

In [15]:
data={}
for table,heading in zip(gdp_table_data[1].find_all('table'),headings):
    t_headers=[]
    for th in table.find_all('th'):
        t_headers.append(th.text.strip())
        
    table_data=[]
    for tr in table.tbody.find_all('tr'):
        t_row={}
        for td,th in zip(tr.find_all('td'),t_headers):
            t_row[th]=td.text.strip()
        table_data.append(t_row)
        
    data[heading]=table_data
   
#print(data)

In [79]:
import pandas as pd
df={}
for h,i in zip(headings,range(3)):
    df[i]=pd.DataFrame.from_dict(data[h])

In [80]:
# #writing in csv
# import csv
# for topic, table in data.items():
#     # Create csv file for each table
#     with open(f"{topic}.csv", 'w') as out_file:
#         # Each 3 table has headers as following
#         headers = [ 
#             "Country/Territory",
#             "GDP(US$million)",
#             "Rank"
#         ] # == t_headers
#         writer = csv.DictWriter(out_file, headers)
#         # write the header
#         writer.writeheader()
#         for row in table:
#             if row:
#                 writer.writerow(row)

In [86]:
df[0]

    Rank        Country/Territory GDP(US$million)
0    NaN                      NaN             NaN
1                       World[19]      87,265,226
2      1            United States      21,439,453
3      —  European Union[23][n 1]      18,705,132
4      2               China[n 2]      14,140,163
..   ...                      ...             ...
190  182                    Palau             291
191  183         Marshall Islands             220
192  184                 Kiribati             184
193  185                    Nauru             108
194  186                   Tuvalu              42

[195 rows x 3 columns]

In [87]:
df[1]

    Rank Country/Territory GDP(US$million)
0    NaN               NaN             NaN
1                    World      87,751,541
2      1     United States      21,427,700
3      2        China[n 5]      14,342,903
4      3             Japan       5,081,770
..   ...               ...             ...
187  180             Palau      284 (2018)
188  181  Marshall Islands      221 (2018)
189  182          Kiribati             195
190  183             Nauru             118
191  184            Tuvalu              47

[192 rows x 3 columns]

In [88]:
df[2]

    Rank Country/Territory GDP(US$million)
0    NaN               NaN             NaN
1                World[25]      85,085,189
2      1     United States      20,580,223
3      2        China[n 5]      13,608,152
4      3             Japan       4,971,323
..   ...               ...             ...
210  190  Marshall Islands             214
211  191          Kiribati             189
212  192             Nauru             127
213    —        Montserrat              64
214  193            Tuvalu              46

[215 rows x 3 columns]